:root {
  --error-color: #a94442;
  --primary-color: #007bff;
  --secondary-color: #0069d9;
  --success-color: #348e7f;
  --error-color: #e24443;
  --warning-color: #faa740;
  --black-color: rgb(66,66,66);
  --placeholder-color: rgba(27, 173, 155, 0.70);
  --link-color-primary: --primary-color;
  --link-color: --primary-color;
  --background-primary-color: #f5f5f5;
  --background-secondary-color: #FDFDFD;
  --nav-primary-color: #FDFDFD;
  --nav-secondary-color: #c83737;
  --nav-text-primary-color: #fff;
  --nav-text-secondary-color: #fdfdfd;
  --footer-background-primary: #800000;
  --footer-text-primary-color: #fff;
  --footer-text-secondary-color: yellow;
  --bg-primary: #343434;
  --bg-secondary: #454545;
}

html { 
  height: 40%;
  width: 100%;
}

body { 
  color: #777777 !important;
  font-family: Verdana, sans-serif !important;
  font-size: 11px;
  background: var(--background-primary-color) !important;
  display: table;
  height: 60%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-size: 100px !important;
  margin-top: 15% !important;
  margin-bottom: 20px !important;
}

h2 { 
  font-size: 20px !important;
}

p {
  font-size: 13px !important;
}

a {
  font-size: 12px;
  color: var(--black-color);
  text-decoration: none;
}

a:hover { 
  text-decoration: none;
  color: var(--secondary-color);
}

a > i {
  margin-right: 5px;
  font-size: 1.25em !important;
}

.row {
  margin-top: 12.5%;
}

.error-container {
  margin-top: 20%;
}

.row {
  display: table-row;
  height: 30%;
}

.row:nth-child(1) { 
  background-color: var(--bg-primary);
  color: var(--nav-primary-color);
}

.row:nth-child(2) { 
  color: #343434;
  padding-top: 20px;
}

.bottom-align-text{ 
  position: absolute;
  bottom: 0;
  right: 0;
}

.error-divider{ 
  padding-top: 25px;
}
