:root {
  --primary: #c49536;
  --secondary: #7c7c80;
  --light: #EFFDF5;
  --dark: #0E2E50;
}

.btn {
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/** Navbar **/

.nav-bar.sticky-top {
  position: sticky !important;
  padding: 0 !important;
  z-index: 9999 !important;
}
